.login-box{
  height: 520px;
background:rgba(0,0,0,0.5);
  color:#fff;
  margin-top: 100px;
}
.login-box2{
    height: 350px;
	background:rgba(0,0,0,0.5);
    color:#fff;
    margin-top:170px;
}
.body
{
  background:url(website/images/2019-interior-design-trends.jpeg);
  background-repeat:no-repeat;
  background-size:cover;
}
 .form-border
 {
   border: 1px solid #68afff;
   border-radius: 50px;
 }
 .hoverable
 {
   -webkit-transition:-webkit-box-shadow .25s;
   transition:-webkit-box-shadow .25s;
   transition:box-shadow .25s;
   transition:box-shadow .25s, -webkit-box-shadow .25s
  }
.hoverable:hover
{
  -webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}